{% extends 'ErwinStudentAdministrationSystemBundle:Default:base.html.twig' %}
{% block title %}PIMS{% endblock %}
{% block MenuLabel %}Recitation Types{% endblock %}
{% block dropDownMenu %}
    <li><a href="{{ path("recitationType_select") }}">Select Recitation Type Records</a></li>
    <li><a href="{{ path("recitationType_add") }}">Add Recitation Type Records</a></li>
    {# <li><a href="{{ path("student_update") }}">Update Pupil Records</a></li> #}
    {# <li><a href="{{ path("student_delete") }}">Delete Pupil Records</a></li> #}
{% endblock %}