{% extends 'ErwinStudentAdministrationSystemBundle:Default:base.html.twig' %}
{% block title %}PIMS{% endblock %}
{% block MenuLabel %}Teachers to Classes{% endblock %}
{% block dropDownMenu %}
    <li><a href="{{ path("teacherClass_select") }}">Select Teacher to Class Records</a></li>
    <li><a href="{{ path("teacherClass_add") }}">Add Teacher to Class Records</a></li>
    {# <li><a href="{{ path("student_update") }}">Update Pupil Records</a></li> #}
    {# <li><a href="{{ path("student_delete") }}">Delete Pupil Records</a></li> #}
{% endblock %}